:root {
    --back: #E0E0E0;
    --front: black;
}

body {
    background-image: url('electronicdesign_16021_intel_drones_promo_1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all .5s;
}
#p {
    margin-block-start: -2em;
    position: absolute;
    top: 302px;
    left: 172px;
}
.openspeed {
    width: 61px;
    height: auto;
    position: absolute;
    left: 9px;
    top: -3px;
    font-size: 54px;
    color: var(--front);
}
.button {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: black;

    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;

    border: none;
    height: 58px;
    width: 73px;
    overflow: hidden;
    transition: all .5s;
    background-color: var(--back);
    z-index: 6;


}
a:-webkit-any-link{
    color: #4d4dff;
}
.button:hover {
    width: 290px;
    height: 377px;

}

.driveBtn{
    height: 58px;
    width: 73px;
    top: -251px;
    position: relative;
    background-color: var(--back);
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    transition: all .5s;
    overflow: hidden;
    z-index: 9;
}

.drive{
    
    background-image: url(steeringWheel.png);
    background-repeat: no-repeat;
    background-size: 45px auto;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    height: 58px;
    width: 73px;
    
    
}


.driveBtn:hover{

    width: 290px;
    height: 360px;

}

.open{
    position: absolute;
    height: 58px;
    width: 73px;
    z-index: 10;
}
.open:hover+.button{
    pointer-events: all;
    width: 290px;
    height: 377px;
}

.button:hover+.driveBtn{
    top: 2px;
}
.slider {
    position: relative;
    left: .5px;
    writing-mode: bt-lr;
    /* IE */
    background-color: rgba(0, 0, 0, 0.0);
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-appearance: none;
    /* WebKit */
    height: 300px;
    width: 200px;
    outline: none;
}
.slider::-webkit-slider-runnable-track {
    background: linear-gradient(to left, red, yellow, green);

    width: 50px;
    border-radius: 4px;
    transition: .3s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 50px;
    background: black;
    cursor: pointer;
}
.output {
    width: 40vw;
    height: 35vh;
    background-color: black;
    color: white;
    position: absolute;
    right: 10px;
    opacity: .5;
    overflow: auto;
    transition: all .5s;
    top: 9px;
    right: 9px;
}
.setSpeed {
    position: relative;
    width: 100px;
    height: 32px;
    right: -150px;
    bottom: 2px;
    padding-top: 17px;
    border-style: outset;
}
.setSpeed:hover {
    cursor: pointer;
}
.kill {
    position: relative;
    width: 100px;
    height: 32px;
    right: 0px;
    bottom: 55px;
    padding-top: 17px;
    border-style: outset;
}
.kill:hover {
    cursor: pointer;
}
.output::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.output::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.output::-webkit-scrollbar-thumb {
    background: #888;
}
.clear {
    right: 31px;
    top: 17px;
    position: absolute;
    border-style: solid;
    padding: 3px 5px 3px 5px;
    border-radius: 13px;
    color: white;
    transition: all .5s;
}
.clear:hover {
    cursor: pointer;
}
.collapse {
    position: absolute;
    color: white;
    right: 93px;
    top: 15px;
    padding: 0px 16px 0px 16px;
    transition: all .5s;
    transform: rotate(180deg);
    overflow: hidden;
}
.collapse:hover {
    cursor: pointer;
}
#percentage {
    position: absolute;
    text-align: end;
    left: 119px;
    top: 269px;
    border-width: 0px;
    border: none;
    background-color: var(--back);
    border-bottom: black solid 2px
}
.inc1 {
    position: relative;
    top: -261px;
    left: 153px;
    width: 21px;
    padding: 40px 16px 40px 16px;
    border-style: outset;
}
.inc5 {
    position: relative;
    top: -462px;
    left: 153px;
    width: 21px;
    padding: 40px 16px 40px 16px;
    border-style: outset;
}
.dec1 {
    position: relative;
    top: -462px;
    left: 42px;
    width: 21px;
    padding: 40px 16px 40px 16px;
    border-style: outset;
}

.dec5 {
    position: relative;
    top: -664px;
    left: 42px;
    width: 21px;
    padding: 40px 16px 40px 16px;
    border-style: outset;
}

.hint {
    visibility: hidden;
    position: absolute;

    width: auto;

    right: 103px;
    top: 21px;
    background-color: whitesmoke;
    padding: 3px;
    border: #7D9280 solid 2px;
    opacity: 0;
    pointer-events: none;
}

#collapse:hover+#hint {

    animation: bounceIn 1s 1s 1 normal forwards;
}

.outputtext {
    position: absolute;
    bottom: 4px;
    left: 5px;
    overflow: hidden;
}

.addInterval {
    position: relative;
    top: -827px;
    right: -207px;
    height: 60px;
    width: 61px;
    border-style: outset;
}

.plus {
    position: relative;
    top: -16px;
    font-weight: 800;
    font-size: 61px;

}

.interval {
    position: relative;
    top: -830px;
    right: -211px;
    width: 60px;
    height: 200px;
}

.intervalBtn {
    height: 31%;
    border-style: outset;
}

.speed {
    top: 26%;
    position: relative;
    font-size: 18px;
    font-weight: 800;
}

@keyframes bounceIn {

    100% {
        visibility: visible;
        opacity: .9;
        top: 43px;
    }
}

.arrow {
    visibility: hidden;
}

.arrowPC{
    visibility: visible;
}

.stop {
    visibility: hidden;
    position: absolute;
}

.u {
    position: absolute;
    top: 0px;
    left: 89px;
    width: 35%;
    height: 50%;
}

.up {
    -webkit-transform: rotate(-135deg);
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 21px;
    position: absolute;
    left: -16%;
    top: 16%;
    margin: 50px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 21px;
    position: absolute;
    left: -29.5%;
    top: 2%;
    margin: 50px;

}

.d {
    height: 52%;
    position: absolute;
    top: 48%;
    width: 33%;
    left: 100px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 21px;
    position: absolute;
    left: -3%;
    top: 13%;
    margin: 50px;
}

.l {
    height: 82%;
    position: absolute;
    top: 18%;
    width: 32%;
    left: -2%;
}

.right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 21px;
    position: absolute;
    left: -45%;
    top: 29%;
    margin: 50px;
}

.r {
    height: 100%;
    position: absolute;
    top: 0%;
    width: 34%;
    right: 0%;
}




@media only screen and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {


    .hint {
        visibility: hidden !important;
    }

    @keyframes bounceIn {

        100% {
            visibility: hidden;
        }
    }

    .slider::-webkit-slider-thumb {

        width: 50px;
        opacity: .55;

    }

    .up {
        visibility: visible;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 21px;
        background-color: white;
        position: absolute;
        left: 1%;
        top: 19%;
        margin: 50px;
    }

    .u {
        height: 31%;
        position: absolute;
        top: 32%;
        width: 36%;
        left: 31%;
    }


    .down {
        visibility: visible;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 21px;
        background-color: white;
        position: absolute;
        left: 1%;
        top: 19%;
        margin: 50px;
    }

    .d {
        height: 33%;
        position: absolute;
        top: 60%;
        width: 36%;
        left: 31%;
    }

    .left {
        visibility: visible;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 21px;
        background-color: white;
        position: absolute;
        left: -3%;
        top: 29%;
        margin: 50px;
    }

    .l {
        height: 64%;
        position: absolute;
        top: 32%;
        width: 32%;
        left: -2%;

    }

    .right {
        visibility: visible;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border: solid black;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 21px;
        background-color: white;
        position: absolute;
        left: -7%;
        top: 29%;
        margin: 50px;
    }


    .r {
        height: 64%;
        position: absolute;
        top: 32%;
        width: 32%;
        right: 2%;
    }

    .stop {
        visibility: visible;
        position: absolute;
        top: 55%;
        left: 32.5%;
        font-weight: 800;
        font-size: 29px;
        font-family: 'Roboto', sans-serif;
        width: 86px;
        padding: 8%;
        z-index: 3;
    }


    .collapse {
        bottom: 1.2vh;
        right: 84px;
        top: auto;
        z-index: 5;
    }


    .output {
        bottom: 0px;
        width: 100%;
        right: 0px;
        top: auto;
        z-index: 5;
        height: 7vh;

    }

    .clear {
        bottom: 1.5vh;
        right: 23px;
        top: auto;
        z-index: 5;
    }

    .driveBtn{
        visibility: hidden;
    }

    .arrowPC{
        visibility: hidden;
    }
}